.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  width: 100%;
  position: fixed;
  background-color: rgba(235, 235, 235, 0.9);
  z-index: 10;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  text-decoration: none;
  color: #43444b;
  font-size: 18px;
  align-items: center;
  display: flex;
  transition: 0.5s;
}

.links a:hover {
  color: black;
  font-weight: 500;
}

.logo {
  height: 60px;
  width: 60px;
  background-image: url("../../../public/Logo-removebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo image {
  height: 100%;
  width:100%;
}

.getStartedBtn {
  padding: 10px 25px;
  background: #43444b;
  border: none;
  border-radius: 15px;
  /* color: white; */
  transition: 0.5s;
}

.getStartedBtn a {
  color: #fff;
  font-size: 16px;
}

.getStartedBtn:hover {
  background-color: #000;
}

.getStartedBtn a:hover {
  color: white;
}

.Drop {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.DropMenu {
  position: absolute;
  top: 100%;
  text-align: center;
  background-color: #fff;
  justify-content: center;
  width: 300%;
}

.DropMenu ul {
  list-style: none;
  text-decoration: none;
}

.DropMenu ul li {
  padding: 5%;
}

.DropMenu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DropMenu ul li:hover {
  background-color: rgba(235, 235, 235, 0.9);
}
