.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  width: 100%;
  position: fixed;
  background-color: rgba(235, 235, 235, .9);
  z-index: 10;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  text-decoration: none;
  color: #43444b;
  font-size: 18px;
  align-items: center;
  display: flex;
  transition: 0.5s;
}

.links a:hover {
  color: black;
  font-weight: 500;
}

.logo h3 {
  font-size: 30px;
  color: #000;
}

.getStartedBtn {
  padding: 10px 25px;
  background: #43444b;
  border: none;
  border-radius: 15px;
  /* color: white; */
  transition: 0.5s;
}

.getStartedBtn a {
  color: #fff;
  font-size: 16px;
}

.getStartedBtn:hover {
  background-color: #000;
}

.getStartedBtn a:hover {
  color: white;
}
