.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  width: 100%;
  position: absolute;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    align-items: center;
    display: flex;
    transition: .5s;
}

.links a:hover {
    color: lightskyblue;
}

.logo h3 {
    font-size: 30px;
    color: white;
}

.getStartedBtn {
    padding: 10px 25px;
    background: white;
    border: none;
    border-radius: 15px;
    color: gray;
    transition: .5s;
}

.getStartedBtn a {
    color: gray;
    font-size: 16px;
}

.getStartedBtn:hover {
    background-color: lightskyblue;
}

.getStartedBtn a:hover {
    color: white;
}
