.resetPasswordContainer {
  height: 100vh;
  width: 100%;
  background-image: url("../../../public/BedroomBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetPasswordBox {
  height: 400px;
  width: 50%;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

.resetPasswordleftPart {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetPasswordleftPart h1 {
  color: lightskyblue;
}

.resetPasswordleftPart h4 {
  font-style: italic;
}

.resetPasswordrightPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.resetPasswordinputContainer {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.resetPasswordinputBox {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.resetPasswordinputBox input {
  position: relative;
  height: 35px;
  width: 60%;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 10px;
  transition: 0.5s;
}

.resetPasswordinputBox input:focus {
  width: 62%;
}

.eyeIcon {
  position: absolute;
  right: 22%;
  color: lightskyblue;
}

.resetPasswordinputContainer button {
  height: 35px;
  width: 100px;
  transition: 0.5s;
  border: none;
  border-radius: 8px;
}

.resetPasswordinputContainer button:hover {
  background-color: lightskyblue;
  color: white;
}

.resetPasswordinputContainer span {
  font-style: oblique;
  font-size: 11px;
}

.resetPasswordinputContainer span a {
  color: white;
  transition: 0.5s;
}

.resetPasswordinputContainer span a:hover {
  padding-left: 5px;
}
