.firstSection {
  height: 100vh;
  background-image: url("../../../public/DarkBG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%; /* Adjust the height of the gradient overlay as needed */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /* Black gradient */
  z-index: 1; /* Ensure this is above the background but below the text */
}

.FrontPage {
  width: 85%;
  height: 85%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 10px 0;
  z-index: 2;
}

.firstPart h3 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 25px;
  font-style: oblique;
}

.firstPart h1 {
  color: #fff;
  font-size: 35px;
}

.secondPart button {
  background: none;
  backdrop-filter: blur(2px);
  padding: 8px 25px;
  border: 3px solid white;
  color: #fff;
  font-weight: 700;
  transition: background 0.3s ease, color 0.3s ease;
}

.secondPart button:hover {
  background: #fff;
  color: #000;
}
.secondSection {
  /* height: 100vh; */
  width: 100%;
  display: grid;
  grid-row: 1fr 2fr;
}

.title {
  display: flex;
  border: 1px solid black;
  width: 100%;
  min-height: 35vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.titleDesc {
  width: 60%;
  text-align: center;
}

.titleDesc h1 {
  font-size: 40px;
  font-weight: 250;
}

.content {
  height: 100vh;
  width: 100%;
  display: grid;
  border: 1px solid black;
  grid-column: 1fr 1fr 1fr;
}
