.firstSection {
  height: 100vh;
  background-image: url("../../../public/DarkBG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%; /* Adjust the height of the gradient overlay as needed */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /* Black gradient */
  z-index: 1; /* Ensure this is above the background but below the text */
}

.FrontPage {
  width: 85%;
  height: 85%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 10px 0;
  z-index: 2;
}

.firstPart h3 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 25px;
  font-style: oblique;
}

.firstPart h1 {
  color: #fff;
  font-size: 35px;
}

.secondPart button {
  background: none;
  backdrop-filter: blur(2px);
  padding: 8px 25px;
  border: 3px solid white;
  color: #fff;
  font-weight: 700;
  transition: background 0.3s ease, color 0.3s ease;
}

.secondPart button:hover {
  background: #fff;
  color: #000;
}
.secondSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondSectionContainer {
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
}

.secondSectiontitle {
  width: 75%;
  margin: auto;
  text-align: center;
}

.secondSectiontitle h1 {
  font-size: 40px;
  font-weight: 250;
}

.secondSectioncontent {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 30px;
}

.contentCard {
  height: 350px;
  width: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
  transition: box-shadow 0.5s ease, scale 0.5s ease, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.contentCard:hover {
  box-shadow: 8px 8px 8px 8px rgb(230, 230, 230);
  scale: 1.1;
  letter-spacing: 5px;
}
.contentCard.card1 {
  background-image: url("../../../public/livingroom.jpg");
}

.contentCard.card2 {
  background-image: url("../../../public/livingroom2.jpg");
}

.contentCard.card3 {
  background-image: url("../../../public/livingroom3.jpg");
}

.contentCardContainer {
  display: flex;
  text-align: center;
}

.thirdSection {
  height: 100vh;
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdSectionBG {
  height: 50vh;
  width: 100%;
  background-image: url("../../../public/section3BG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
