.resetPasswordVerificationContainer {
  height: 100vh;
  width: 100%;
  background-image: url("../../../public/SignupBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetPasswordVerificationBox {
  height: 250px;
  width: 25%;
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.resetPasswordVerificationTitle {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid black;
}

.resetPasswordVerificationInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.resetPasswordVerificationInput form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}

.resetPasswordVerificationInput input {
  outline: none;
  height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: lightcyan;
  color: black;
  font-weight: 500;
}

.resetPasswordVerificationInput input:focus {
  border: 1px solid white;
}

.resetPasswordVerificationInput button {
  height: 30px;
  border-radius: 10px;
  transition: 0.5s;
  color: gray;
  border: none;
}
.resetPasswordVerificationInput button:hover {
  background-color: lightskyblue;
  color: white;
}

.backButton a {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: lightskyblue;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
}

.backButton a:hover {
  left: 10px;
}
